.banner {
    background-image: url('/public/banner.png'); 
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(10, 10, 10);
    text-align: center;
    position: relative;
    }

.banner-content {
    z-index: 1;
}

.menus {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.menu {
    position: relative;
}

.menu button {
    background: none;
    border: none;
    color: rgb(10, 10, 10);
    font-size: 24px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    list-style: none;
    padding: 10px;
    margin: 0;
    min-width: 100px;
    text-align: left;
}

.dropdown-menu li {
    margin: 5px 0;
}

.dropdown-menu li a, .dropdown-menu li button {
    color: white;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: 17px;
}

.dropdown-menu li a:hover, .dropdown-menu li button:hover {
    background-color:rgb(250, 190, 0) 
}

.flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 8px;
    
}
.selected {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    color: yellow;
}